---
layout: portal
title: 首页
---


<div class="row">
    <div class="six wide column">
        <img src="http://www.gravatar.com/avatar/ee681d74d6f2a082a192371cbbc85a08?s=200" alt="我的Gravatar" class="ui image gvtar">

        <div class="ui green icon message">
            <i class="umbrella icon"></i>
            欢迎来到我的临时日志。由于极为悲惨的原因，日志服务器当机且数据无法取出，在等待下一步消息以及日志重新建设的时候，暂时把此处作为备用日志。

        </div>

        <div class="ui secondary menu">
            <a href="{{site.url}}/feed.xml" class="item"><i class="rss icon"></i>RSS</a>
            <a href="https://github.com/KagamiChan/ayumi.git" class="item"><i class="github alternate icon"></i>Source</a>
            <a href="http://weibo.com/p/1005051615104427/weibo?from=page_100505&mod=TAB#place" class="item"><i class="weibo icon"></i>Weibo</a>
        </div>

        <form onsubmit="return ayumisearch(this)" method="post" target="none">
            <div class="small ui icon input">
                <input name="q" id="s-input" type="text" placeholder="搜索日志"><i class="green search icon"></i>
            </div>
        </form>


        <script>
            $("#s-input").focus(function(){
                $(this).parent().addClass("fluid")
            })

            $("#s-input").blur(function(){
                $(this).parent().removeClass("fluid")
            })

            function ayumisearch(qs){
                window.open("https://www.google.com/search?q="+qs.q.value+"+site:{{site.url}}&oq="+qs.q.value+"+site:{{site.url}}")
            }

        </script>



    </div>

    <div class="ten wide column">

        {% for post in site.posts %}

        <div class="ui vertical fluid segment">

            <h2 class="ui header"><a href="{{post.url}}" class="ui header">
                {{ post.title }} </a></h2>
            <a href="" class="description">
                {{ post.content | strip | truncate: 64 }}</a>


            <div class="ui blue message">
                <i class="time icon"></i>{{post.date| date:"%Y年%m月%d日"}}

                <i class="user icon"></i>{% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}

                <i class="book icon"></i>{{ post.categories }} {% for tag in post.tags %}


                <i class="tag icon"></i>{{ tag }} {% endfor %}

            </div>



        {% endfor %}
</div>
    </div>
</div>
