a:link {
    color:inherit;
    text-decoration: none;
}

a:visited{
     color: inherit;
}

.gvtar{
    margin: auto;
    border-radius: 50%;
}

.inline{
    display: inline-block;
}

.label.tag{
    margin: 0 .25em 0;
}
