a:link {
    color:inherit;
    text-decoration: none;
}

a:visited{
     color: inherit;
}

.gvtar{
    margin: auto;
    border-radius: 50%;
}

.inline{
    display: inline-block;
}

.label.tag{
    margin: 0 .25em 0;
}


.desc{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.content{
    font-size: 125%;
    line-height: 2rem;
}

code{
    color: #29d;
}

code:hover{
    background-color: #29d;
    color: white;
}
