<head>



    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <link href='../style.css' rel='stylesheet' type='text/css'/>

    <script type="text/javascript" src="../assets/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../assets/flexible-nav.min.js"></script>


    

    <title>{{ site.data.global.title }}::{{ page.title }}</title>

    <!--HTML5Shiv-->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>


