<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/assets/pace.min.js" type="text/javascript"></script>
    <link href="/assets/pace.css" rel="stylesheet">
    <script src="/assets/jquery-1.11.1.min.js" type="text/javascript"></script>



    <link rel="stylesheet" href="/assets/normalize.min.css" type="text/css">



    <!--SemanticUI-->
    <link href="/assets/SementicUI/css/semantic.min.css" rel="stylesheet" type="text/css">

    <script src="/assets/SementicUI/javascript/semantic.min.js" type="text/javascript"></script>


    <!--SemanticUI-->
    <script>
        $('.Grid').dimmer('toggle');
    </script>

    <link href="/assets/webfont/stylesheet.css" rel="stylesheet" type="text/css">
    <link href='/style.css' rel='stylesheet' type='text/css' />




    <title>{{ site.name }}::{{ page.title }}</title>

    <!--HTML5Shiv-->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>



<body class="Grid">

<!--    <div class="ui dimmer inverted visible active"></div>-->

    <div class="ui page stackable grid">
        <div class="row">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <div class="row">
                        <a href="{{ site.url}}">

                            <h1 class="ui fluid">
                    </h1>
                            <img src="/assets/h1_gekkan.png" alt="{{site.name}}" class="ui image">
                            <div class="sub header desc">{{site.description}}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
