<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/normalize.min.css" type="text/css">

    <link href="/assets/webfont/stylesheet.css" rel="stylesheet" type="text/css">

    <!--SemanticUI-->
    <link href="/assets/SementicUI/css/semantic.min.css" rel="stylesheet" type="text/css">
    <script src="/assets/SementicUI/javascript/semantic.min.js" type="text/javascript"></script>


    <!--SemanticUI-->
    <link href='/style.css' rel='stylesheet' type='text/css'/>




    <title>{{ site.data.global.title }}::{{ page.title }}</title>

    <!--HTML5Shiv-->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>


