.pace {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    margin-top: 1rem;
}

.pace:after{
    content: "少女祈祷中……";
    font-size: 2rem;
    color: #29d;


}

.pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}
